<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>New Car</title>
</head>
<body>
    <%- include("../../partials/nav.ejs") %>
    <h1>Add a new car to the list</h1>
    <form action="/cars" method="POST">
        <div>
            <label for="manufacturer">Please enter the cars brand or manufacturer</label>
            <input type="text"name="manufacturer" placeholder="E.g Honda, Mclaren" required>
        </div>

        <div>
            <label for="name">Enter the cars model</label>
            <input type="text"name="name" placeholder="E.g Cayenne, Corolla" required>
        </div>
        
        <div>
            <label for="manufacture_date">Please specify when this car came into production</label>
            <input type="number" id="manufacture_date" name="manufacture_date" placeholder="Enter the car model" min="1900" max="2025" step="1">
        </div>
        <div>
            <label for="image">Please provide a link to an image of this car</label>
            <input type="text" name="image" >
        </div>
        
        <div>
            <label for="description">Additional details</label>
            <textarea type="text" name="description" style="width: 350px; height: 250px;">

            </textarea>
        </div>
        
        
        <button type="submit">
            Add Car
        </button>
    </form>
</body>
</html>